* {
    box-sizing: border-box;
  }
html{
    scroll-behavior: smooth;
}
@font-face {
    font-family: 'Montserrat', sans-serif;
    src: url("assets/fonts/Montserrat-VariableFont_wght.ttf");
    font-weight: 100;
  }
  @font-face {
    font-family: 'Poiret One', cursive;
    src: url("assets/fonts/PoiretOne-Regular.ttf");
    font-weight: 300;
  }
  .header{
    border: 1px solid red;
    /*background-color: rgb(110, 9, 226);*/
    }
    .main{
        border: 1px solid rgb(255, 208, 0);
        }
    .footer{
        border: 1px solid rgb(0, 132, 255);
        }
   body {
        min-height: 100vh;
        margin: 10px; padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        }
    .container {
        max-width: 1440px;
        margin: 0 auto;
      }
    .nav-list {
        list-style: none;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        }
    .nav-link{
        padding: 0 20px;
        /*color:rgb(248, 232, 0);*/
        text-decoration: none;
        font-family: 'Montserrat', sans-serif;
        cursor: pointer;
        transition: .3s;
        color:black;
    }
    .nav-list li :hover {
        color: #ccba8d;
        text-decoration: none;
      }
    h1 {
        font-size: 54px;
      }
    body {
      font-family: 'Montserrat', sans-serif;
      font-size: 18px;
      line-height: 2;
      /*color:rgb(255, 208, 0);*/
    }
    a {
      text-decoration: none;
    }
    ul{
      text-decoration: none;
      color: blueviolet;
      transition: color 0.5s;
    }
    .section ul :hover {
      color: #ccba8d;
      text-decoration: none;
    }
img{
  width: 442px;
  height: 591px;
}
.round {
  border-radius: 500px;
  border: 3px solid rgb(3, 252, 177);
  box-shadow: 0 0 7px rgb(50, 42, 160);
}
  .main-container {
    display: flex;
    flex-wrap: wrap;
  }
    
  .section {
    width: 50%;
  }
 @media (max-width: 768px) {
    .section {
      width: 100%;
    }
  }   